@media screen and (min-width: 1200px){
  .main{
    width: 1200px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px){
  html{
    font-size: 10px;
  }

  .white_bg{
    padding: 6rem 2rem;

    &__header{
      font-size: 2.6rem;
      margin-bottom: 2rem;
      line-height: 4rem;
    }

    &__text{
      margin-bottom: 3rem;
    }

    &__btn{
      margin-bottom: 2rem;
    }
  }
  .grey_bg{
    &__header{
      display: block;
      text-align: center;
      margin-bottom: 3rem;
    }

    &__card{
      flex-direction: column;
      align-items: center;
    }

    &__left-text{
      width: 100%;
      padding: 2rem 1.5rem;
      margin-right: 0;
    }

    &__right-header{
      display: none;
    }
  }

  .last-section{
    &__header{
      font-size: 2.5rem;
      text-align: center;
    }

    &__name{
      padding: 2rem;
    }

    &__price{
      margin: 4rem 0 3rem 0;
    }

    &__time{
      margin-bottom: 3rem;
    }

    &__time::after{
      top: 2rem;
    }

    &__btn{
      margin-bottom: 2.4rem;
    }
    .black-transparent{
      width: 299px;
      height: 480px;
      background: rgba(0, 0, 0, .2);
      .last-section__name{
        background: rgba(0, 0, 0, .2);
        padding: 3rem;
      }

      .last-section__price{
        font-size: 68px;
      }
    }
  }

  .secondBg__bottom{
    display: none;
  }
  .secondBg::after{
    width: 90%;
    margin-left: 4%;
    bottom: 12px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px){
  .grey_bg{
    &__header{
      display: block;
      text-align: center;
      margin-bottom: 3rem;
    }

    &__right-header{
      display: none;
    }
  }

  .last-section{
    &__main-card-div{
      flex-wrap: wrap;
    }
    &__cards {
      width: 257px;
    }
  }

  .secondBg__bottom {
    padding: 3rem 2rem;
  }
  .secondBg::after{
    width: 90%;
    margin-left: 4%;
    bottom: 18px;
  }
}
