.white_bg{
  background: #fff;
  padding: 4rem 9rem;

  &__header{
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #635c73;
    margin-bottom: 1rem;
  }

  &__text{
    font-family: "Lato", sans-serif;
    font-size: 16px;
    color: #5b5b5b;
    margin-bottom: 1rem;
  }

  &__btn{
    background: #f9f9f9;
    color: #333333;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 14px;
    border: 1px solid #d5d5d5;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 5px 10px;
  }

  &__span{
    font-size: 14px;
    font-weight: 700;
    border: 1px solid #d5d5d5;
    padding: 5px 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 70px;
  }

  &__btn > i{
    margin-right: 5px;
  }
}

.grey_bg{
  background: #f4f4f4;
  display: flex;
  justify-content: space-between;
  padding: 2rem 0 2rem 0;

  &__left-side{
    padding: 1rem 0 0 3rem;
  }

  &__card{
    display: flex;
    margin-bottom: 2rem;
    font-family: "Montserrat", sans-serif;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__left-text{
    width: calc(100% - 150px);
    margin-right: 1rem;
    //height: 77px;
  }

  &__left-header{
    font-size: 16px;
    margin-bottom: 10px;
    color: #323232;
  }

  &__left-description{
    font-size: 14px;
    color: #848e97;
  }

  &__right-header{
   font-family: "Montserrat", sans-serif;
   font-size: 36px;
   color: #8d81ac;
   font-weight: 700;
   margin-bottom: 1rem;
 }

  &__img-editor{
    width: calc(100% + 15px);
  }
}
