//*************** havanise **********************//
.mycontainer{
  background-image: url("../img/img_bg.jpg");
  position: relative;
  height: 584px;
  background-size: cover;
  background-position: bottom;
  &__header{
    font-size: 60px;
    margin-top: 60px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
  }
  &__text{
    color: #8d81ac;
    margin-top: 18px;
    font-family: "Lato", sans-serif;
    font-size: 22px;
  }
  &__textTwo{
    margin-top: 18px;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: #50555d;
  }
}
.download-button{
  top: 560px;
  position: absolute;
  font-family: "Montserrat", sans-serif;
  &__btn{
    outline: none !important;
    background-color: #8d81ac;
    border: none;
    color: white;
    border-radius: 2rem;
    padding: .8rem 2.6rem;
    font-size: 15px;
    text-transform: capitalize;
    font-weight: bold;
  }
  &__text{
    text-align: center;
    margin-top: 18px;
    font-size: 12px;
    color: #848e97;
  }
}


//*************** etibar **********************//
.white_bg{
  background: #fff;
  width: 100%;
  padding: 4rem 2rem;

  &__header{
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    color: #635c73;
    margin-bottom: 1rem;
  }

  &__text{
    font-family: "Lato", sans-serif;
    font-size: 16px;
    color: #5b5b5b;
    margin-bottom: 1rem;
  }

  &__btn{
    background: #f9f9f9;
    color: #333333;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 14px;
    border: 1px solid #d5d5d5;
    border-radius: 5px;
    padding: 5px 0 5px 10px;
  }

  &__span{
    //font-size: 14px;
    //font-weight: 700;
    //border: 1px solid #d5d5d5;
    //padding: 5px 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    //margin-bottom: 70px;

    background: white;
    padding: 5px 10px;
    margin-left: 5px;
    border-left: 1px solid #d5d5d5;
  }

  &__btn > i{
    margin-right: 5px;
  }
}
.grey_bg{
  background: #f4f4f4;
  display: flex;
  justify-content: space-between;
  padding: 2rem 0 2rem 0;

  &__header{
    display: none;
    font-family: "Montserrat", sans-serif;
    color: #8d81ac;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  &__left-side{
    padding: 1rem 0 0 3rem;
  }

  &__card{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 2rem;
  }

  &__left-text{
    width: calc(100% - 150px);
    margin-right: 1rem;
  }

  &__left-header{
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    color: #323232;
    margin-bottom: 10px;
  }

  &__left-description{
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #848e97;
  }

  &__right-header{
    font-family: "Montserrat", sans-serif;
    color: #8d81ac;
    font-size: 36px;
    display: block;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  &__img-editor{
    width: calc(100% + 15px);
  }
}

//*************** havanise **********************//
.secondBg{
  background-image: url("../img/secondBg768.png");
  background-size: cover;
  padding: 0 0.7rem;
  position: relative;
  &__header{
    padding: 3rem 0;
    width: 100%;
    font-size: 1.8rem;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-align: center;
  }
  &__text{
    font-family: 'Lato', sans-serif;
    font-style: italic;
    line-height: 23px;
    font-size: 16px;
  }
  &__imageDiv{
    display: flex;
    justify-content: center;
    height: 65px;
  }
  &__bottom{
    color: #918094;
    font-size: 14px;
    padding: 2rem 8rem;
    text-align: center;
  }
  .card-body{
    padding: 1rem;
  }
}
.secondBg::after{
  content: "";
  position: absolute;
  width: 70%;
  margin-left: 14%;
  bottom: 30px;
  border-bottom: 3px solid #645766;
}

//*************** etibar **********************//
.last-section{
  background-image: url("../img/lastBg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -1px;
  display: flex;
  align-items: center;
  flex-direction: column;
  //align-items: center;

  &__header{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #fff;
    text-transform: capitalize;
    font-size: 36px;
    margin: 2rem;
  }

  &__card-div{
    display: flex;
    align-items: center;
    padding-bottom: 3rem;
  }

  &__cards{
    width: 257px;
   background: rgba(255, 255, 255, .2);
    display: flex;
    margin-right: 1rem;
    flex-direction: column;
    align-items: center;
  }

  &__cards:first-child{
    height: 445px;
  }

  &__cards:last-child{
    margin-right: 0;
  }

  &__cards:nth-child(3){
    width: 299px;
    background: rgba(0, 0, 0, .2);
    .last-section__name{
      background: rgba(0, 0, 0, .2);
      padding: 1.5rem;
    }

    .last-section__price{
      font-size: 68px;
    }
  }

  &__name{
    color: #ffffff;
    background: rgba(255, 255, 255, .2);
    padding: 1rem;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
  }

  &__price{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 58px;
    margin: 2rem 0 1rem 0;
  }

  &__price::before{
    content: "\0024";
  }

  &__time{
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    color: rgba(255, 255, 255, .2);
    margin-bottom: 1rem;
  }

  &__time::after{
    content: " ";
    width: 50px;
    display: block;
    position: relative;
    top: 1rem;
    left: 12px;
    border-bottom: 3px solid rgba(255, 255, 255, .3);
    margin-bottom: 1rem;
  }

  &__license-div{
    margin-bottom: 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__license{
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 10px;
  }

  &__btn{
    color: #fff;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    background: rgba(255, 255, 255, .2);
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 2rem;
    padding: 15px 30px;
    text-transform: uppercase;
    margin-bottom: 1.4rem;
  }
}


