//************** havanise   ************//

.mynav{
  padding: .5rem 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  background-color: #27262a;
  &__button{
    outline: none !important;
    background-color: #8d81ac;
    border: 1px solid #8d81ac;
    color: white;
    border-radius: 2rem;
    padding: .8rem 2.6rem;
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 700;
  }
  &__menu{
    display: none;
  }
  &__menu-list{
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 14px;
  }
  &__link{
    color: #8d81ac;
    padding: 0 .5rem!important;
  }
  &__brand{
    display: flex;
    margin-right: 0;
  }
  &__brandName{
    font-size: 22px;
    align-items: center;
    margin-left: 13px;
    color: #8d81ac;
    font-family: "Lato", sans-serif
  }
  &__burger-line{
    width: 15.55px;
    height: 2px;
    background-color: white;
    border-radius: 5px;
    margin: 3px auto;
}
  &__burger-line:nth-child(1){
    width: 11px;
    margin-left: 4.5px;
  }
  &__burger-menu{
    display: none;
    position: absolute;
    font-size: 19px;
    width: 90%;
    background-color: #333333;
    height: 26rem;
    top: 5.7rem;
    left: 50%;
    transform: translate(-50%, 0);right: 0;
  }
  &__burger-list{
    border-bottom: 1px solid #3b3b3b;
  }
  &__burger-link{
    color: white;
    padding: 2rem 3rem!important;
    font-weight: 400;
  }
  &__hide {
    display:none
  }
}
.mynav__link:hover{
  color: white;
}
.mynav__button:hover{
  background-color: white;
  color: #8d81ac;
}
.download-button__btn:hover{
  background-color: white;
  color: #8d81ac;
}
.mynav__brand:hover{
  .mynav__brandName {
    color: white;
  }
  .mynav__image{
    display: none;
  }
  .mynav__hide{
    display: inline-block;
  }
}
.mynav__burger:hover {
  .mynav__burger-menu {
    display: block;
    z-index: 1;
  }
}
.mynav__burger-list:hover{
  .mynav__burger-link{
    color: #8d81ac;
  }
  position: relative;
  color: #8d81ac;
  }
.mynav__burger-list:hover::before {
  content: '';
  position: absolute;
  border-right: 8px solid #8d81ac;
  height: 44px;
  top: 7px;
}


