.button{
  outline: none !important;
  background-color: #8d81ac;
  border: none;
  color: white;
  border-radius: 2rem;
  padding: .8rem 2.6rem;
  font-size: 15px;
  text-transform: capitalize;
  font-weight: 700;
  position: absolute;
}
.mynav{
  background-color: #27262a;
  &__button{
    right: 1rem;
  }
}
.navbar-toggler{
  border:none;
  &__line{
  width: 15.55px;
  height: 2px;
  background-color: white;
  border-radius: 5px;
  margin: 3px auto;
}
  &__line-first{
   width: 11px;
   margin-left: 4.5px;
 }
}
.mynav-link{
  color: #8d81ac;
}

.mycontainer{
  background-image: url("../img/img_bg.jpg");
  background-size: cover;
  background-position: bottom;
  &__header{
    font-size: 60px;
    margin-top: 60px;
  }
  &__text{
    color: #8d81ac;
    margin-top: 18px;
    font-size: 22px;
  }
  &__textTwo{
    margin-top: 18px;
    font-size: 14px;
    color: #50555d;
    margin-bottom: 400px;
  }
}
.download-button{
  top: 630px;
  position: absolute;
  &__btn{
    outline: none !important;
    background-color: #8d81ac;
    border: none;
    color: white;
    border-radius: 2rem;
    padding: .8rem 2.6rem;
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 700;
  }
  &__text{
    text-align: center;
    margin-top: 18px;
    font-size: 12px;
    color: #848e97;
  }
}
.secondBg{
  background-image: url("../img/secondBg.jpg");
}
.card-img-top {
  height: 4vw;
  object-fit: contain;
}