.button{
  outline: none !important;
  background-color: #8d81ac;
  border: none;
  color: white;
  border-radius: 2rem;
  padding: .8rem 2.6rem;
  font-size: 15px;
  text-transform: capitalize;
  font-weight: 700;
  position: absolute;
}
.mynav{
  padding: .5rem 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  background-color: #27262a;
  &__brand{
    display: flex;
  }
  &__brandName{
    font-size: 22px;
    align-items: center;
    margin-left: 13px;
    color: #8d81ac;
    font-family: "Lato", sans-serif
  }
  &__menu{
    justify-content: flex-end;
    right: 12rem;
    position: absolute;
    display: none;
  }
  &__button{
    right: 2rem;
  }
  &__burger{
    border:none;
  }
  &__burger-line{
    width: 15.55px;
    height: 2px;
    background-color: white;
    border-radius: 5px;
    margin: 3px auto;
}
  &__burger-line-first{
    width: 11px;
    margin-left: 4.5px;
  }
  &__link{
    font-size: 16px;
    color: #8d81ac;
  }
}
.mynav__burger:hover + .mynav__menu{
      display: block;
}

.nav-item:hover{
  background-color: #f5f5f5;
}


